


<h1>Total Timmer : {{TotleSecondsValue}}</h1>

<h3>Increments every 10 seconds-{{TenSecondValue}}</h3>
<button mat-button color="accent" (click)="startTenSecondTimer()">Start</button>
<button mat-button color="warn" (click)="pauseTenSecondTimer()">Stop</button>


<h3>Increments every seconds-{{SecondValue}}</h3>
<button mat-button color="accent" (click)="starSecondTimer()">Start</button>
<button mat-button color="warn" (click)="pauseSecondTimer()">Stop</button>


<h3>Increments mill seconds-{{MillSecondValue}}</h3>
<button mat-button color="accent" (click)="starMillSecondTimer()">Start</button>
<button mat-button color="warn" (click)="pauseMillSecondTimer()">Stop</button>






